<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="stylesheets/main.css"/>
  <script src="/js/main.js"></script>
</head>

<body>

  <div class="middle">
    <h1>Try out some Javascript magic</h1>

    <p id="demo">
      To change this text, press the button below.
    </p>

    <button type="button" onclick="myFunction()">
      Change the text
    </button>
  </div>
</body>

</html>
